.App {
  text-align: center;
  background-color: lightskyblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  background-color: lightblue;
}

#btn-blank-pad {
  padding-left: 15px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.jumbotron {
  background-color: blue;
  font-family: magneto;
  color:silver;
  border-style:3px, solid, black;
}
/* #jmbtrn-font-color {
   = white;
} */
