/* 
#main-content-body {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    #25282b,
    #343a40
  );
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.jumbotron {
  background-color: green;
  font-family: magneto;
  color:silver;
  border-style:solid;
  border: 3px, white;
}
#card-title-text {
    place-content: center;
    text-align: center;
    background-color: purple;
    width: 30%;
}
#card-label-text {
    text-align: left;
    background-color: red;
    width: 20%;
}
#htmlFor {
    padding-left: "10px";
}
#blank-input-field {
    place-content: center;
} */