/*** major refactoring needed here...   */

/********************GENERAL TAG SELECTORS (Examples: body, img, header etc...)******************/
option {
    font-weight: bold;
}

input[type=text], select, textarea {
    padding: .375rem .75rem!important;
}


/**************************BOOTSTRAP OVERRIDES*******************/
.row{
    margin-left: 0;
    margin-right: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.form-control-file, .form-control-range {
    display: block;
    width: 77%;
}
.footer-background{
    height: 45px;
    line-height: 7%;
    padding-top: 15px;
    font-size: 15px;
}

.btn-primary{
    background-color: #1F3D7C;
    color:white;
    border: white;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: red;
}


/********************NAVBAR********************/
.navbar-img__logo{
    width: 6%;
}

/*************** CTA LANDING PAGE *******************/
.lp__header {
    height: 77vh;
    background-image: linear-gradient(to right bottom, rgba(122, 121, 121, 0.8), rgba(51, 51, 51, 0.8)),url(../img/chefCooking.jpg);
    width: 100%;
    background-size: cover;
}
    

.lp__cta-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

.cta__sec-heading{
    font-weight: 300;
    line-height: 1.2;
}

.lp__cta-newsletter {
    position: relative;
    bottom: 20px;
    width: 100%;
}

.lp__cta-img__logo {
    width: 25%;
}

.mt-3-department {
    background-color: white;
}

.ctaBtn{
    background-color: #1F3D7C;
    color:white;
    border: white;
}

/******************************DASHBOARD LANDING PAGES**********************************/
.dashboard-container {
    max-width: 1250px;
    margin: 0 auto;
}

.draftStatusBtn {
    color: black!important;
    font-weight: bold;
    background: repeating-linear-gradient(
      45deg,
      #ddddddd1,
      #ddddddd1 10px,
      #979494 10px,
      #979494 20px
    );
    padding-left: 70px;
    padding-right: 70px;
}

.FOHDraftShift{
    color: black!important;
    background: repeating-linear-gradient(
      45deg,
      #f7992e,
      #f7992e 10px,
      #fac17f 10px,
      #fac17f 20px
    );
}

.BOHDraftShift{
    color: black!important;
    background: repeating-linear-gradient(
      45deg,
      #2e7bf7,
      #2e7bf7 10px,
      #7faefa 10px,
      #7faefa 20px
    );
}

#features-background {
    background-color: white;
}

#headlines-centered{
    text-align: center;
    padding: 20px;
}
#sub-headlinemargin {
    text-align: center;
}

.features-pic {
        max-width:550px;
        padding-left: 20px;
        width: auto;
        height: auto;
        justify-content: right;
}
#pricing-background {
    background-color: lightblue;
    height: 100%;
}

.login-container {
    height: 100%;
}

.card-after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, .6);
    z-index: 9;
}

.loader {
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    display:none;
    transform: translate(-50%, -50%);
}

.schedStatLoader{
    left: 35%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
  }
  
/* .footer-background {
    background-color:blueviolet;
}

html, body {
    height: 100%;
}
#footer-location {
    position: relative;
    width: 100%;
    height: 50px;
}

#footer-verbiage {
    font-size: 8px;
} */

.publishStatusBtn {
    font-weight: bold;
    color: black!important;
    padding-left: 55px;
    padding-right: 55px;
}
h7 {
    text-justify: right;
}

.fc-license-message {
    display: none;
}


.modalcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e6e6e6;
    width: 50%;
    height: 50%;
    padding: 20px;
    border: solid white;
    border-width: 4px;
    border-radius: 10px;
}


/***********intlTelInput**********/
span.country-name {
    color: black;
}

.intl-tel-input.allow-dropdown {
    width: 100%;
}

.iti-flag {background-image: url("../img/flags.png");}
 
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("../img/flags@2x.png");}
}



#modal {
    display: none;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.adminModalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e6e6e6;
    width: 60%;
    height: 80%;
    padding: 20px;
    border: solid white;
    border-width: 4px;
    border-radius: 10px;
}

#adminNewsLetter {
    display: none;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contactContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}